* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--heading-font-family);
}

:root {
  --heading-font-family: "Nunito Sans", sans-serif;
  --bg-color: #78c4d4;
  --btn-color: #fa1e0e;
  --text-color: #f4f3f3;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

h2 {
  font-size: 47px;
  padding-bottom: 50px;
  font-weight: 800;
}

h3 {
  font-size: 35px;
  font-weight: 900;
}

h4 {
  font-size: 29px;
  font-weight: 800;
}

h5{
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 17px;
  color: #050505;
}

a:hover {
  color: var(--btn-color);
}

li {
  list-style: none;
}

.container {
  margin: 0px 100px;
}

.divider {
  height: 3px;
  width: 15%;
  display: inline-block;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
  background-color: var(--btn-color);
}

/* Navbar */
.main-container {
  width: 100%;
  height: 85vh;
  background-color: var(--bg-color);
}

.logo {
  padding-right: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  padding-right: 100px;
}

.nav-menu a {
  padding: 5px 20px;
  font-weight: 700;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  padding: 20px 10px;
}

/* Home */
.Home-section {
  display: flex;
  width: 100%;
  margin: auto;
  min-height: 75vh;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.btn-form {
  flex: 1;
  padding-bottom: 50px;
}

.btn-input {
  outline: none;
  border: none;
  cursor: text;
  width: 500px;
  font-size: 15px;
  height: 50px;
  background-color: #f4f9f9;
}

::placeholder {
  padding: 10px;
}

.btn-search {
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  color: var(--text-color);
  font-size: 15px;
}

.btn-search:hover {
  background-color: var(--btn-color);
}

.back-img {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.back-img img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px #050505);
  animation: drop 1.5s ease;
}

/* Products */
.products-section {
  padding: 50px 0;
}

.product-card {
  display: flex;
  margin: 50px 0;
}

.card {
  width: 24%;
  height: 65vh;
  padding: 30px 0;
  margin-right: 26px;
  display: flex;
  flex-direction: column;
}

.card-img {
  display: flex;
  height: 295px;
  justify-content: center;
}

.card-img img {
  height: inherit;
}

.card-content {
  padding: 15px;
  margin-bottom: 10px;
}

.btn-url {
  outline: none;
  border: none;
  width: 190px;
  height: 35px;
  padding: 0 20px;
  margin: 0 50px;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 0 5px 5px black;
  border-radius: 5px;
}

/* About */
.about-section {
  height: 70vh;
  background-color: var(--bg-color);
}
.about-head {
  padding: 50px 0;
}
.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.about-content h4{
  font-size: 40px;
}
.about-content ul li h5{
  font-size: 25px;
  margin: 15px 0;
}


@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}