<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">  
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="{% static 'images/cart2.png' %}" type="image/png">
  <title>Ecompare</title>
</head>
<body>
  {% block content %}
  <section class="container-section">
    <nav class="navbar-section">
      <a href="#">  
      <h1><img src="{% static 'images/cart2.png' %}" style="width: 46px; height: 48px; ">Ecompare</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <ul class="nav-menu">
        <li class="nav-item" aria-current="page"><a class="nav-link" href="#home">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="#product">PRODUCTS</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">ABOUT</a></li>
      </ul>

      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
    

    <div class="Home-section" id="home">
      <div class="btn-form">
        <h2>
          You want lower prices, <br />
          we hear you
        </h2>
        <form action="/next" method="GET" style="margin-top: 50px;">
          <input class="btn-input" type="text" name="text" placeholder="Enter Product Name">
          <button class="btn-search" href="">Search</button>
        </form>
      </div>
      <div class="back-img">
        <img src="{%static '/images/matebook.png' %}" />
      </div>
    </div>
  </section>

  
  <section class="product-section" id="product">
    <h3>PRODUCTS
      <div class="divider"></div>
    </h3>
    <div class="product">
        <div class="col-lg-3">
          <div class="card-img">
            <img src="{% static '/images/710weRkP-nL._SL1500_.jpg' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Samsung M61 (Electric Blue, 6GB RAM, 128GB Storage)</h5>
          <p class="card-text">₹22,999</p>
          <a href="https://www.amazon.in/Samsung-Galaxy-Electric-Blue-128GB-Storage/dp/B085J1J32G/ref=sr_1_1?dchild=1&keywords=samsung+F62&qid=1614615184&sr=8-1" target="_blank" class="btn btn-primary">View Details</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card-img">
          <img src="{% static '/images/71OGgziqWvL._SL1500_.jpg' %}" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">New Apple Watch Series 6 (GPS, 44mm) - Space Grey Aluminium</h5>
        <p class="card-text">₹43,900</p>
        <a href="https://www.amazon.in/New-Apple-Watch-GPS-44mm-Aluminium/dp/B08J6FCFVN/ref=sr_1_4?crid=2N2ZOLT911FIS&dchild=1&keywords=apple+watch+series+6&qid=1614617258&sprefix=apple+wa%2Caps%2C1000&sr=8-4" target="_blank" class="btn btn-primary">View Details</a>
      </div>
    </div>   
    <div class="col-lg-3">
      <div class="card-img">
        <img src="{% static '/images/61MbLLagiVL._SL1000_.jpg' %}" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">All-new Echo Dot (4th Gen) | Next generation smart speaker (Blue)</h5>
      <p class="card-text">₹3900</p>
      <a href="https://www.amazon.in/Echo-Dot-4th-Gen-Blue/dp/B084KSRFXJ/ref=sr_1_3?dchild=1&keywords=echo+dot&qid=1614617530&sr=8-3" target="_blank" class="btn btn-primary">View Details</a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card-img">
      <img src="{% static '/images/41CIlQy09aL.jpg' %}" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">ASUS VivoBook Flip 14 Intel Core i3-10110U 10th Gen 14-inch 2-in-1</h5>
    <p class="card-text">₹50,490</p>
    <a href="https://www.amazon.in/ASUS-VivoBook-i3-10110U-Integrated-TP412FA-EC371TS/dp/B08B4VNMBC/ref=sr_1_8?dchild=1&keywords=foldable+laptop&qid=1614617642&sr=8-8" target="_blank" class="btn btn-primary">View Details</a>
  </div>
</div>
    </div>    
  </section>


  <footer id="contact" class="container-fluid size_footer about-section about-section-wrap">
    <div class="row py-3" >
        <div class="col-12 col-md-4 links d-flex align-items-center justify-content-center" >
            <ul class="list-unstyled lead text-center">
              <h2>Quick links</h2>
              <li><a class="text-muted foot_head" href="#">Ecompare</a></li>
              <li><a class="text-muted" href="#home">Home</a></li>
              <li><a class="text-muted" href="#product">Product</a></li>
              <li><a class="text-muted" href="#about">About</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul style="padding-left: 0;">
            <h2>About us</h2>
            <li><a href="#" class="nav-link"><h5>Shreyash Sonawane</h5></a></li>
            <li><a href="https://www.linkedin.com/in/atharv-ingole/" target="_blank" class="nav-link"><h5>Athrav Ingole</h5></a></li>
            <li><a href="https://www.linkedin.com/in/shreyash-asawa" target="_blank" class="nav-link"><h5>Shreyash Asawa</h5></a></li>
            <li><a href="https://www.linkedin.com/in/sanskarsharma100/" target="_blank" class="nav-link"><h5>Sanskar Sharma</h5></a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
      </div>
    </div>
  </footer>
  {% endblock content %}

  <script src="{% static 'js/product.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>

