
.logo {
  padding-right: 20px;
}

.logo img{
  justify-content: center;
  width: 100px;
  height: 70px;
  display: inline-block;
} 

.price-comparison {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 1rem;
}

.price-column {
  background-color: var(--text-color);
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 400px;
  border-radius: 8px;
}

.price-column:first-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.price-column:last-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.price-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.price {
  font-size: 3.5rem;
  display: flex;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.cta {
  border: none;
  background-color: var(--btn-color);
  color: var(--text-color);
  width: 100%;
  padding: .75rem 1rem;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: bold;
  border-radius: 4px;
  transition: 100ms;
  transform: scale(1);
}

.cta a{
    text-decoration: none;
    color: #f8f1f1;
  }

.ctn a:hover {
  color: var(--text-color);
  }
  
.cta:hover{
  transform: scale(1.1);
  background-color: var(--a-color);
  color: var(--text-color);
} 

