/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--heading-font-family);
}

:root {
  --heading-font-family: "Nunito Sans", sans-serif;
  --bg-color: #78c4d4;
  --btn-color: #fa1e0e;
  --text-color: #fff;
}

li {
  list-style: none;
}

.about-section h5{
  white-space: nowrap;
} 

.divider {
  height: 3px;
  width: 15%;
  display: inline-block;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
  background-color: var(--btn-color);
}


/* Navbar */
.container-section{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #001a33, #001b2f, #001b29, #041b24);
}

.navbar-section{
  background-image: linear-gradient(to right top, #051937, #001a33, #001b2f, #001b29, #041b24);
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 17px;
  z-index: 10000000000;
}

.navbar-section a{
  text-decoration: none;
  color: var(--text);
  letter-spacing: 2px;
}

.navbar-section h1{
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text);
  margin-left: 4.3rem;
}

.navbar-section ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-section li{
  margin: 0 45px;
}

.navbar-section h1:hover{
  color: var(--text-color);
}

.nav-menu a:hover {
  color: var(--btn-color);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}



/* Home */
.Home-section {
  display: flex;
  position: relative;
  max-width: 90%;
  top: 26vh;
  margin: auto;
  align-items: center;
  flex-wrap: wrap-reverse;
  color: var(--text-color);
}

.Home-section h2{
  font-size: 3.5rem;
}

.btn-form {
  flex: 1;
  padding-bottom: 50px;
}

.btn-input {
  outline: none;
  border: none;
  cursor: text;
  width: 540px;
  font-size: 15px;
  height: 50px;
  background-color: #fff;
}

::placeholder {
  padding: 10px;
}

.btn-search {
  outline: none;
  border: none;
  width: 160px;
  height: 50px;
  cursor: pointer;
  /* border-radius: 5px; */
  background-image: linear-gradient(to right top, #4a74b3, #3d79b4, #307eb4, #2583b2, #1d87b0);
  color: var(--text-color);
  font-size: 15px;
}

.btn-search:hover {
  background-image: linear-gradient(to right top, #a60f2a, #a21c33, #9d253b, #972d42, #913448);
}

.back-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.back-img img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px #050505);
  animation: drop 1.5s ease;
}



/* Products */
.product-section{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto
}

.product-section h3{
  position: relative;
  top: 7vh;
  left: 2vw;
}

.product{
  max-width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col-lg-3 {
  margin: 0 2rem ;
}

.col-lg-3 img {
  height: 150px;
}

.card-img{
  display: flex;
	justify-content: center;
  align-items: center;
	width: 100%;
	height: 35vh;
}

.btn-url {
  outline: none;
  border: none;
  width: 190px;
  height: 35px;
  padding: 0 20px;
  margin: 0 50px;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--text-color);
}

.col-lg-3:hover {
  box-shadow:  0px 10px 30px rgba(51, 49, 56, 0.205);
  border-radius: 5px;
}  


/* About */
.about-section{
  background-image: linear-gradient(to right top, #051937, #001a33, #001b2f, #001b29, #041b24);
  color: #fff;
  text-align: center;
}

.about-section a{
  color: var(--text-color);
}

.about-section a:hover{
  color: var(--btn-color);
}


/* Next Page */
.price-compare{
  position: relative;
  top: 10vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding-right: 20px;
}

.logo img{
  justify-content: center;
  width: 100px;
  height: 70px;
  display: inline-block;
} 

.price-comparison {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 1rem;
}

.price-column {
  background-color: var(--text-color);
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 400px;
  border-radius: 8px;
}

.price-column:first-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.price-column:last-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.price-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.price {
  font-size: 3.5rem;
  display: flex;
}

.divider1 {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.cta {
  border: none;
  background-image: linear-gradient(to right top, #4a74b3, #3d79b4, #307eb4, #2583b2, #1d87b0);
  color: var(--text-color);
  width: 100%;
  padding: .75rem 1rem;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: bold;
  border-radius: 4px;
  transition: 100ms;
  transform: scale(1);
}

.cta:hover{
  transform: scale(1.1);
}
  
.cta a{
  color: #fff;
  text-decoration: none;
} 

.cta a:hover{
  color: red;
}


/* Responsive */
@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}



/* Responsive XXL */
@media only screen and (max-width: 1200px) {
.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-image: linear-gradient(to right top, #051937, #001a33, #001b2f, #001b29, #041b24);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: relative;
  top: 1vh;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-section li{
  margin: 3rem 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.Home-section{
  position: relative;
  top: 3vh;
  flex-wrap: wrap-reverse;
}

.btn-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

/* Responsive large */
@media only screen and (max-width: 992px){
.product{
  position: relative;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
} 

.about-section-wrap{
  position: relative; 
  top: 160vh;
}  
}

/* Responsive medium */
@media only screen and (max-width: 768px){
  .Home-section{
    top: 10vh;
  }

  .back-img{
    margin-top: 3rem;
    height: 40vh;
  }  

  .btn-form h2{
    text-align: justify;
    font-size: 2.5rem;
  }

  .btn-input{
    width: 370px;
  }

  .btn-search{
    width: 100px;
  }


}
